.main {
  &__container {
    flex-basis: 85%;
    @include xl- {
      flex-basis: 95%;
    }
    @include lg {
      flex-basis: 100%;
    }
  }
  &__header-block {
    @include flex-align-center-wrap;
    & > h1 {
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
      margin-bottom: 10px;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 10px;
        height: 10px;
        border: 2px solid $grey;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }
  &__subcategory-title-block {
    margin-bottom: 10px;
    & > p {
      margin-top: 2px;
      color: $grey;
    }
  }
  &__subcategory {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(#{$block-margin} - 10px);
  }
}
