.subcategory {
  &__item {
    @include flex-center-between;
    flex-basis: 49%;
    border-radius: $border-radius;
    padding: 20px;
    background-color: $bg-white;
    box-shadow: $box-shadow;
    border: 1px solid transparent;
    &:nth-child(odd) {
      margin-right: 15px;
    }
    &:nth-child(n) {
      margin-bottom: 15px;
    }
    &:hover {
      border-color: $main-green;
      cursor: pointer;
    }
    & > div:first-child {
      @include flex-align-center;
      & > h2 {
        margin-left: 10px;
      }
      @include xs {
        flex-direction: column;
        & >h2{
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
    @include md {
      flex-basis: 100%;
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
    @include xs {
      @include flex-column-reverse;
      align-items: flex-start;
    }
  }
  &__img {
    min-width: 60px;
    height: 60px;
    background: url("../../assets/img/exercises/exercises_img.svg") no-repeat;
    @include xs {
      align-self: flex-start;
    }
  }
  &__state {
    @include flex-justify-between;
    width: 75px;
    align-self: flex-start;
    .state-circle {
      width: 11px;
      height: 11px;
      border: 1px solid $main-orange;
      border-radius: 50%;
      &:first-child {
        background-color: $main-orange;
      }
    }
    @include xs {
      align-self: flex-end;
    }
  }
}
