.container {
  @include flex-column-center-center;
  height: 100%;
}

.result-block {
  text-align: center;
}

.result {
  &__image {
    width: 80px;
    height: 80px;
  }
  &__sentence {
    font-size: 2rem;
    margin-top: 30px;
    & > span {
      color: $green;
    }
  }
}
