.container {
  @include flex-column-center-center;
  height: 100%;
}

.result-block {
  text-align: center;
}

.result {
  &__image {
    width: 80px;
    height: 80px;
  }
  &__sentence {
    font-size: 2rem;
    margin-top: 30px;
    line-height: 40px;
    & > span {
      color: $grey;
      position: relative;
      & > span {
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        color: $pink;
        line-height: normal;
        font-size: 1.29rem;
      }
      &:after {
        content: "";
        background-color: $pink;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 50%;
      }
    }
  }
}

.btn-block {
  @include flex-center-center;
  margin-top: 120px;
  width: 80%;
  position: relative;
  .rule {
    opacity: 1;
    position: absolute;
    top: -150%;
    text-align: center;
    color: $grey;
    transition: 0.5s;
    transform: scale(1);
    &_hidden {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  .info-icon {
    font-size: 2.2rem;
    margin-right: 50px;

    &::before {
      color: $pink;
    }
  }
  .next-btn {
    margin-top: 0;
  }
}

.animation-icon {
  animation: info-icon-pulse 1s infinite linear;
}

@keyframes info-icon-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
