$grey-circle-color: #e8e8e8;
$green-circle-color: #b6e3a6;
$blue-circle-color: #8dcddd;
$pink-circle-color: #f0baa8;

.circle {
  fill: $grey-circle-color;
}

.up {
  &_active {
    fill: $green-circle-color;
  }
}

.right {
  &_active {
    fill: $blue-circle-color;
  }
}

.left {
  &_active {
    fill: $pink-circle-color;
  }
}
