$primary: #454545;
$main-green: #459551;
$main-orange: #ea8862;

$bg-body: #f8f8f8;
$bg-white: #ffffff;
$bg-light-green: #edf8ef;

$sidebar-icon: #7f7f7f;

$grey: #999999;
//new
$blue: #8dcddd;
//old name light-green
$green: #66b074;
//new 
$pink: #f0baa8;

$light-grey: #e8e8e8;
//new
$light-green: #b6e3a6;

$box-shadow: #0000003a;

//new color
$text-grey: #767676;
