$primary: #454545;
$main-green: #459551;
$main-orange: #ea8862;

$bg-body: #f8f8f8;
$bg-white: #ffffff;
$bg-light-green: #edf8ef;

$sidebar-icon: #7f7f7f;

$grey: #999999;
$blue: #8dcddd;
//old name light-green
$green: #66b074;
$pink: #f0baa8;
$middle-pink: #f0b9a765; //$pink + opacity 40%
$light-pink: rgba(240, 185, 167, 0.2); //$pink + opacity 20%

$light-grey: #e8e8e8;
$light-green: #b6e3a6;

$box-shadow: #0000003a;

$text-grey: #767676;
