$primary: #454545;
$main-green: #459551;
$main-orange: #ea8862;

$bg-body: #f8f8f8;
$bg-white: #ffffff;
$bg-light-green: #edf8ef;

$sidebar-icon: #7f7f7f;

$grey: #999999;
$light-grey: #e8e8e8;
$light-green: #66b074;

$box-shadow: #0000003a;