.content-container {
  flex-basis: 75%;
  overflow-y: auto;
  @include lg {
    width: 100%;
    &_hidden {
      background-color: $bg-body;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
