//Media mixins
$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 1032px;
$lg-screen: 1370px;

// Extra Small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin sm {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

// Medium devices (tablets, less than 1032px)
@mixin md {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

// Large devices (desktops, less than 1370px)
@mixin lg {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

// Flex mixins
@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin flex-align-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-align-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-justify-start {
  display: flex;
  justify-content: start;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-justify-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-justify-center-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-center-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-justify-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-column-justify-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-reverse-center-center {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin -column-center-around {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
