$tab-bg: #62a56b;
$tab-color-text-active: #ffffff;

.balance {
  &__content {
    width: 254px;
    padding: 20px 0;
    height: 265px;
    border-radius: $border-radius;
    background-color: $bg-color-content;
    box-shadow: $box-shadow;
    @include flex-column-around-center;
    //new
    @include xs {
      max-width: 80%;
    }
  }
  &__tab {
    @include flex-justify-center;
  }
  &__tab-content {
    height: 26px;
    padding: 0 13px;
    background-color: transparent;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    color: #a0a0a0;
    outline: none;
    font-size: $font-size-2;
    &:hover {
      color: $tab-bg;
    }
    &_active {
      transition: 0.5s;
      color: $tab-color-text-active;
      background-color: $tab-bg;
      &:hover {
        color: $tab-color-text-active;
      }
    }
  }
  &__diagram {
    @include flex-center-center;
    position: relative;
    .diagram {
      &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex-column-align-center;
      }
      &__amount-lessons {
        font-size: 2rem;
      }
      &__text-after {
        font-size: 1.43rem;
      }
      &__progress-bar {
        transform: rotate(-90deg);
      }
    }
  }
  &__description {
    width: 141px;
    height: 47px;
    border: 1px solid $green-color;
    background-color: transparent;
    border-radius: $border-radius;
    color: $green-color;
    font-size: $font-size-2;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $light-green-bg-color;
    }
  }
}

.progress-bar__background,
.progress-bar__value {
  fill: none;
}

.progress-bar__background {
  stroke: #e6e6e6;
}

.progress-bar__value {
  stroke: url(#gradient);
  stroke-linecap: round;
  @include xs{
    stroke: url(#gradient_1);
  }
}

// @keyframes loading {
//   from {
//     stroke-dasharray: 0 376.991;
//   }
//   to {
//     stroke-dasharray: 227;
//   }
// }
