* {
  box-sizing: border-box;
}

html,
button,
input {
  font-family: "MuseoSansCyrl500", Helvetica, sans-serif;
  font-size: $html-font-size;
  color: $html-color-text;
}

body {
  background-color: $bg-html;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body {
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  font-size: 1.07rem; //15px
}

h1 {
  font-size: 1.79rem; //25px
}

//new

h3 {
  font-size: 1.14rem;
}

h4 {
  font-size: inherit;
}
