$orange-color: #ea8862;

.content {
  height: 396px;
  padding: 30px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    color: #262626;
    &_form-title {
      &:after {
        content: "*";
        color: $orange-color;
        margin-left: 2px;
      }
    }
  }
  &__checkbox-block {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 25px 0;
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
    & + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &:before {
        position: absolute;
        content: "";
        left: 0px;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #dddddd;
      }
      &:after {
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        background-color: $green-color;
        border: none;
      }
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 3px;
        height: 8px;
        width: 4px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__comment {
    margin: 25px 0;
    width: 100%;
    height: 113px;
    border: 1px solid #e8e8e8;
    border-radius: $border-radius;
  }
  &__submit {
    width: 162px;
    height: 45px;
    align-self: flex-end;
    color: #ffffff;
    background-color: $orange-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
  }
}
