.prev-lesson {
  &__header-block {
    @include flex-justify-between;
    @include xs {
      @include flex-column;
    }
  }
  &__dropdown-filter {
    position: relative;
    max-width: 190px;
    width: 100%;
    .selected-item {
      border: 1px solid $light-green;
      border-radius: $border-radius;
      position: relative;
      color: $grey;
      cursor: pointer;
      white-space: nowrap;
      padding: 6px 30px 6px 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      &:after {
        position: absolute;
        content: "";
        right: 10px;
        width: 10px;
        height: 10px;
        border: 1px solid $light-green;
        border-left: none;
        border-top: none;
        transform: rotate(45deg);
      }
      &_opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:after {
          top: 12px;
          transform: rotate(-135deg);
        }
      }
    }
    .items {
      border: 1px solid $light-green;
      border-top: none;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      cursor: pointer;
      position: absolute;
      width: 100%;
      background-color: $bg-white;
      z-index: 1;
      & div {
        padding: 5px 12px;
        color: $grey;
        &:hover {
          color: #ffffff;
          background-color: $light-green;
        }
      }
      &_hidden {
        display: none;
      }
    }
    @include xs {
      margin-top: $block-margin;
      align-self: flex-end;
    }
  }
  &__card {
    margin-top: $block-margin;
    border-radius: $border-radius;
    background-color: $bg-white;
    box-shadow: $box-shadow;
    @include flex-center-between;
    padding: 13px;
    padding-right: 30px;
    @include sm {
      flex-direction: column;
      align-items: flex-start;
    }
    @include xs {
      padding: 13px 0;
      align-items: center;
    }
  }
  &__info {
    @include flex-align-center;
    @include xs {
      flex-direction: column;
      width: 85%;
    }
  }
  &__info-block {
    @include flex-justify-between;
    @include xs {
      width: 100%;
    }
  }
  &__number {
    min-width: 61px;
    height: 61px;
    background-color: $bg-light-green;
    border: 1px solid $main-green;
    border-radius: $border-radius;
    color: $main-green;
    font-size: 1.57rem;
    @include flex-column-center-center;
    &:after {
      content: "урок";
      font-size: 1rem;
    }
  }
  &__details {
    padding: 0 16px;
    min-width: 290px;
    @include md {
      min-width: 0;
    }
    @include xs {
      width: 100%;
      padding: 0;
      padding-top: 10px;
    }
  }
  &__subtitle {
    margin-top: 8px;
    color: $grey;
  }
  &__state {
    @include flex-align-center;
    @include sm {
      align-self: flex-end;
    }
    @include xs {
      display: none;
    }
    & > span {
      text-align: right;
    }
    &_xs {
      display: none;
      @include xs {
        @include flex-column-reverse;
        align-items: center;
        max-width: 100px;
        width: 100%;
        & > span {
          text-align: center;
          padding-top: 5px;
        }
        .prev-lesson__state-diagram {
          margin: 0;
        }
      }
    }
    &_waiting {
      & > span {
        color: $light-green;
      }
      .prev-lesson__state-diagram {
        .state-circle {
          background: url("../../assets/img/state-circles/circle.svg");
        }
      }
    }
    &_setting {
      & > span {
        color: $blue;
      }
      .prev-lesson__state-diagram {
        .state-circle {
          background: url("../../assets/img/state-circles/circle_2.svg");
        }
        & > i:before {
          color: $blue;
        }
      }
    }
    &_checking {
      & > span {
        color: $pink;
      }
      .prev-lesson__state-diagram {
        .state-circle {
          background: url("../../assets/img/state-circles/circle_3.svg");
        }
        & > i:before {
          color: $pink;
        }
      }
    }
  }
  &__state-diagram {
    position: relative;
    margin-left: 20px;
    .state-circle {
      transform: rotate(-45deg);
      width: 51px;
      height: 51px;
    }
    & > i {
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
      font-size: 17px;
    }
  }
}
