$col-counts: 12;
$min-col-size: 100% / $col-counts;

.table {
  &__header {
    display: flex;
    height: 40px;
    margin-bottom: 7px;
    font-size: 1.14rem;
  }
  &__item {
    display: flex;
    height: 80px;
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
    .table__column {
      flex-direction: column;
      &:nth-child(2),
      &:nth-child(4) {
        align-items: flex-start;
      }
      &:nth-child(3),
      &:nth-child(5) {
        align-items: flex-end;
      }
      &:nth-child(n + 1) {
        .title,
        .subtitle,
        .text {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
    &:hover{
        cursor: pointer;
        background-color: $light-green-bg-color;
    }
  }
  &__column {
    @include flex-center-center;
    border-right: 1px solid $light-grey-color;
    &:last-child {
      border-right: none;
    }
    .title {
      padding-bottom: 3px;
    }
    .subtitle {
      font-size: 0.93rem;
      color: $grey-text-color;
    }
  }
}

.row {
  background-color: #ffffff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@for $i from 1 through $col-counts {
  $size: $min-col-size * $i;

  .col-#{$i} {
    flex-basis: $size;
    width: $size;
    max-width: $size;
  }
}
