.transaction {
  &__title-block {
    @include flex-center-between;
    margin-bottom: 12px;
  }
  &__filter {
    display: flex;
  }
  &__pagination-block {
    margin-top: 12px;
    @include flex-center-center;
  }
}
