.reschedule {
  margin: 20px auto; //temporary property
  max-width: 393px;
  width: 100%;
  height: 421px;
  background-color: $bg-white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $main-orange;
  }
  &__content {
    height: 100%;
    padding: 20px 34px;
    @include flex-column-justify-around;
  }
  &__arrow > i {
    position: absolute;
    top: 19%;
    left: 45%;
    color: #b4b4b4;
    font-size: 16px;
  }
}

.content {
  &__time-data {
    @include flex-justify-between;
    .lesson {
      flex-basis: 45%;
      &__date {
        font-size: 17px;
        color: #6a6565;
        &_new {
          color: $main-orange;
        }
      }
      &__time {
        font-size: 18px;
        color: #696564;
        &_new {
          color: $main-orange;
        }
      }
      &__subtitle {
        font-size: 16px;
        color: #b4b4b4;
      }
    }
  }
  &__user-information {
    @include flex-align-center;
  }
  &__text {
    color: #878787;
  }
  &__checkbox-block {
    @include flex-justify-between;
    width: 60%;
    font-size: 15px;
    color: #535353;
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
    & + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &:before {
        position: absolute;
        content: "";
        left: 0px;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #dddddd;
      }
      &:after {
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        background-color: $main-green;
        border: none;
      }
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 3px;
        height: 8px;
        width: 4px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}

.user {
  &__icon {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  &__name {
    font-size: 16px;
    color: #2e2422;
  }
}

.form {
  @include flex-column;
  &__comment {
    margin-bottom: 15px;
    width: 100%;
    height: 72px;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    color: #a8a8a8;
    &::placeholder {
      color: #a8a8a8;
    }
  }
  &__submit {
    width: 100%;
    height: 45px;
    align-self: flex-end;
    color: $main-green;
    border: 1px solid $main-green;
    border-radius: $border-radius;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: #edf8ef;
    }
  }
}
