$nxt-and-balance-width: 254px;
.main {
  flex-direction: column;
  &__container {
    &:first-child {
      display: flex;
    }
    &:last-child {
      display: none;
      @include xs {
        width: $nxt-and-balance-width;
        @include flex-column-align-center;
      }
    }
  }
  &__content {
    &:first-child {
      //   flex-basis: 60%;
      //   if main padding:45px
      flex-basis: 62%;
    }
    &:last-child {
      width: $nxt-and-balance-width;
      .main__content-block:last-child {
        @include xs {
          display: none;
        }
      }
    }
  }
}
