$nxt-and-balance-width: 254px;
.main {
  flex-direction: column;
  &__container {
    &:first-child {
      display: flex;
      @include md {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
    &:last-child {
      display: none;
      @include md {
        align-self: center;
        width: $nxt-and-balance-width;
        @include flex-column;
      }
    }
  }
  &__content {
    &:first-child {
      //   flex-basis: 60%;
      //   if main padding:45px
      flex-basis: 62%;
      margin-right: calc(#{$main-block-padding} - 10px);
      @include md {
        width: 80%;
        margin-right: 0;
      }
      @include sm {
        width: 100%;
      }
    }
    &:last-child {
      width: $nxt-and-balance-width;
      @include md- {
        width: 80%;
      }
      @include sm- {
        width: 100%;
      }
      @include xs {
        width: 100%;
      }
      .main__content-block:last-child {
        @include md {
          display: none;
        }
      }
    }
  }
  &__content-block {
    @include md {
      @include flex-column-align-center;
      & > h1 {
        align-self: flex-start;
      }
    }
  }
}
