$xs-screen: 576px;
$sm-screen: 768px;
$md-screen: 1032px;
$lg-screen: 1370px;

// Extra Small devices (portrait phones, less than 576px)
@mixin xs {
  @media (max-width: #{$xs-screen - 0.1px}) {
    @content;
  }
}

// Small devices (landscape phones, less than 768px)
@mixin sm {
  @media (max-width: #{$sm-screen - 0.1px}) {
    @content;
  }
}

// Medium devices (tablets, less than 1032px)
@mixin md {
  @media (max-width: #{$md-screen - 0.1px}) {
    @content;
  }
}

// Large devices (desktops, less than 1370px)
@mixin lg {
  @media (max-width: #{$lg-screen - 0.1px}) {
    @content;
  }
}

// Extra large devices (large desktops, 1370px and up)
// @mixin xl {
//   @media (min-width: #{$lg-screen}) {
//     @content;
//   }
// }

// @mixin landscape {
//   @media (orientation: landscape) {
//     @content;
//   }
// }

@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-justify-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-reverse-center-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-around-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin -column-around-center {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-center-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin svg-stroke-line- {
  stroke-linecap: round;
  stroke-linejoin: round;
}
