$indent: 45px;

.nav {
  display: none;
  padding: 25px 0 $indent $indent;
  @include lg {
    display: flex;
  }
  @include md{
    z-index: -1;
  }
  // @include xs{
  //   display: flex;
  //   justify-content: center;
  //   padding: 10px 0;
  // }
  &__tab {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 20px;
    font-size: $font-size-4;
    outline: none;
    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 100%;
      height: 0;
      background-color: $green-color;
      border: none;
      border-radius: 50px;
      visibility: hidden;
    }
    &_active {
      &:after {
        visibility: visible;
        height: 3px;
        transition: 0.3s;
      }
    }
    // @include xs{
    //   font-size: 12px;
    //   padding: 10px;
    // }
  }
}
