$green-color: #66b074;
$icon-color: #7f7f7f;
$indent: 18px;

$border: 1px solid #edf8ef;

.sidebar {
  background-color: #ffffff;
  max-width: 280px;
  position: relative;
  @include lg {
    height: 100%;
    box-shadow: $box-shadow;
  }
  &__toggle {
    z-index: 1;
    visibility: visible;
    position: absolute;
    top: 17px;
    margin-left: $indent;
    display: none;
    @include -column-around-center;
    height: 48px;
    padding: 13px;
    cursor: pointer;
    @include lg {
      display: flex;
    }
  }
  &__items{
    padding-bottom: 25px;
  }
  &__logo {
    margin: 26px $indent;
  }
}

.link {
  @include flex-column-between;
  height: 270px;
  &__item {
    @include flex-center-between;
    height: 42px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding: 0 $indent;
    cursor: pointer;
    list-style: none;
    font-size: $font-size-2;
    &:hover {
      color: $green-color;
      border: $border;
      background-color: $light-green-bg-color;
      .item__icon-1,
      .item__icon-2 {
        stroke: $green-color;
      }
    }
    &_active {
      color: $green-color;
      border: $border;
      background-color: $light-green-bg-color;
      .item__icon-1,
      .item__icon-2 {
        stroke: $green-color;
      }
    }
  }
}

.item {
  @include flex-align-center;
  position: relative;
  &__icon-1 {
    fill: none;
    stroke: $icon-color;
    @include svg-stroke-line-;
    stroke-width: 1.5px;
  }
  &__icon {
    min-width: 20px;
    min-height: 20px;
  }
  &__icon-hometasks {
    .item__icon-1,
    .item__icon-2 {
      fill: none;
      stroke: $icon-color;
      @include svg-stroke-line-;
    }
    .item__icon-1 {
      stroke-width: 1.5px;
    }
  }
  &__icon-payments {
    .item__icon-2 {
      fill: $icon-color;
    }
  }
  &__text {
    padding-left: 10px;
    min-width: 150px;
  }
  &__notification {
    @include flex-center-center;
    min-width: 19px;
    height: 19px;
    color: #ffffff;
    font-size: 11px;
    background-color: $orange-red-color;
    border-radius: $border-radius;
    margin-left: 12px;
  }
}

.toggle__row {
  height: 2px;
  width: 25px;
  background-color: $green-color;
  border: none;
  border-radius: 2px;
}
