$new-transaction-width: 370px;

.main {
  @include md {
    flex-direction: column;
    align-items: center;
  }
  &__content {
    &:first-child {
      flex-basis: 62%;
      margin-right: calc(#{$main-block-padding} - 10px);
      @include md {
        width: 100%;
        margin-right: 0;
        margin: 20px 0;
      }
    }
    &:last-child {
      max-width: $new-transaction-width;
      width: 100%;
      & > h1 {
        @include flex-align-center;
        height: 41px;
      }
    }
  }
}
