$font-family:"MuseoSansCyrl500", Helvetica, sans-serif;
$font-size: 14px;
$font-size-2: 15px;
$font-size-3: 16px;
$font-size-4: 17px;
$font-size-5: 18px;
$font-size-6: 19px;
$font-size-7: 22px;
$font-size-8: 25px;
$main-title-size: 25px;
$main-title-size-xs: 22px;

$bg-main: #f8f8f8;
$bg-color-content: #ffffff;
$light-green-bg-color: #edf8ef;

$border-radius: 5px;

$box-shadow: 0 1px 4px #0000003a;

$main-color-text: #454545;
$grey-text-color: #999999;
$blue-color: #8dcddd;

$light-grey-color: #e8e8e8;
$green-color: #469551;
$orange-red-color: #ea8862;

$xs-spinener-indent:20px;
