.form {
  &__title-block {
    text-align: center;
  }
  &__title {
    @include xs {
      font-size: 1.5rem;
    }
  }
  &__input-block {
    margin-top: 10px;
    width: 100%;
    @include xs {
      margin-top: 5px;
    }
  }
  &__input {
    height: 50px;
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid $grey;
    padding: 0 13px;
    font-size: 1.14rem;
    &:hover,
    &:focus {
      border: 1.5px solid $main-green;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @include xs {
      height: 45px;
    }
  }
  &__button {
    width: 100%;
    border: 1px solid $main-green;
    border-radius: $border-radius;
    color: #ffffff;
    background-color: $main-green;
    font-size: 1.29rem;
    padding: 13px 0;
    &:hover {
      background-color: transparent;
      color: $main-green;
      transition: background-color 0.2s;
    }
    @include xs {
      padding: 12px 0;
    }
  }
  &__checkbox-block {
    margin-top: 5px;
    margin-bottom: 25px;
    align-self: flex-start;
  }
  &__checkbox {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    & + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &:before {
        position: absolute;
        content: "";
        top: -2px;
        left: 0px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 1px solid $main-green;
      }
      &:after {
        opacity: 0;
      }
    }
    &:checked + label {
      &:before {
        background-color: $main-green;
      }
      &:after {
        content: "";
        position: absolute;
        left: 6px;
        height: 8px;
        width: 4px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}

.data-error {
  margin: 5px 0;
  color: $main-orange;
  font-size: 0.86rem;
  opacity: 0;
}
