@import "../common/styles.scss";

.wrapper-pop-up-cancel {
  margin: 150px auto;
  max-width: 550px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  position: relative;
}

.header-pop-up-cancel {
  width: 100%;
  background-color: #fafafa;
  font-size: 18px;
  color: #262626;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 16px 20px;
}

.content {
  height: 344px;
  padding: 30px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    color: #262626;
    &:after {
      content: "*";
      color: $main-orange;
      margin-left: 2px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__comment {
    margin: 25px 0;
    width: 100%;
    height: 140px;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    outline: none;
  }
  &__submit {
    width: 162px;
    height: 45px;
    align-self: flex-end;
    color: #ffffff;
    background-color: $main-orange;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: -50px;
  width: 37px;
  height: 37px;
  border: 1px solid $light-grey;
  border-radius: 50%;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 7px;
    left: 17px;
    content: "";
    height: 21px;
    border: 1px solid $light-grey;
    transform: rotate(45deg);
  }
  &:after {
    position: absolute;
    top: 7px;
    left: 17px;
    content: "";
    height: 21px;
    border: 1px solid $light-grey;
    transform: rotate(-45deg);
  }
}
