$indent: 45px;

.main {
  display: flex;
  margin: calc(#{$indent} - 12px) 0;
  @include lg {
    margin-top: 0;
  }
  @include md {
    z-index: -1;
  }
  &__tab-content {
    &:first-child {
      flex-basis: 62%;
      @include lg {
        flex-basis: 100%;
      }
    }
    @include lg {
      display: none;
      width: 100%;
      &_opened {
        display: block;
      }
    }
  }
  &__title {
    font-weight: inherit;
    font-size: $main-title-size;
    padding: 12px 0 6px 0;
    flex-grow: 1;
  }
  &__wrapper {
    padding-right: 20px;
    @include lg {
      @include flex-justify-center;
      padding-right: 0;
    }
    @include sm {
      justify-content: space-around;
      padding: 0 15px;
    }
    // @include xs {
    //   flex-direction: column;
    //   align-items: center;
    // }
  }
  &__previous-lesson {
    padding-right: 36px;
    padding-left: $indent;
    @include lg {
      display: block;
      margin: 0 auto;
      padding: 0 40px;
    }
  }
  &__next-lesson {
    @include lg {
      margin-right: 100px;
    }
    @include sm {
      margin-right: 0;
    }
  }
}
