@import "../common/styles.scss";
@import "./styles/appoint.scss";

.close-btn {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 28px;
  height: 28px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 7px;
    left: 14px;
    content: "";
    height: 14px;
    border: 0.5px solid #878787;
    transform: rotate(45deg);
  }
  &:after {
    position: absolute;
    top: 7px;
    left: 14px;
    content: "";
    height: 14px;
    border: 0.5px solid #878787;
    transform: rotate(-45deg);
  }
}

.booked-success {
  margin: 20px auto;
  max-width: 185px;
  width: 100%;
  height: 192px;
  background-color: $bg-white;
  box-shadow: $box-shadow;
  border-radius: 5px;
  @include flex-column-center-center;
  &__icon {
    position: relative;
    width: 72px;
    height: 72px;
    border: 1px solid #5fa95d;
    border-radius: 50%;
    background-color: #f3faf3;
    &:after {
      content: "";
      position: absolute;
      left: 53%;
      top: 48%;
      height: 22px;
      width: 10px;
      border: solid $main-green;
      border-width: 0px 4px 4px 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &__text {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
  }
}
