.category {
  width: 100%;
  height: 60px;
  border-radius: $border-radius;
  position: relative;
  background-color: $bg-white;
  padding: 0 50px 0 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include flex-align-center;
  > span {
    font-size: 1.29rem;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $light-green;
  }
  &:after {
    content: "";
    position: absolute;
    right: 30px;
    top: 30%;
    width: 10px;
    height: 10px;
    border: 2px solid $grey;
    border-left: none;
    border-bottom: none;
    transform: rotate(135deg) translateY(-50%);
    cursor: pointer;
  }
}

.subcategory {
  @include flex-justify-center-wrap;
  opacity: 0;
  height: 0;
  background-color: $bg-white;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  &__item {
    display: none;
    flex-basis: 45%;
    min-height: 94px;
    border: 1px solid $subcategory-border-color;
    border-radius: $border-radius;
    margin: 15px;
    padding: 0 20px;
    &:hover {
      border-color: $light-green;
    }
    @include sm {
      flex-basis: 100%;
      &:nth-child(n) {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include xs {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
    }
  }
  &__img {
    min-width: 60px;
    height: 60px;
    background: url("../../assets/images/speakStarter/exercises_img.svg");
    @include xs {
      align-self: flex-start;
    }
  }
  &__text {
    @include flex-column-justify-around;
    margin-left: 10px;
    @include xs {
      margin-left: 0;
    }
  }
  &__title {
    @include xs {
      margin: 10px 0;
    }
  }
  &__subtitle {
    color: $grey;
  }
}
