$border: 1px solid $light-grey-color;

.header {
  height: 80px;
  border-bottom: $border;
  @include flex-row-reverse;
  &__user {
    @include flex-align-center;
    flex-basis: 35%;
    border-left: $border;
    padding: 0 20px;
    cursor: pointer;
    @include xs {
      flex-basis: 10%;
    }
  }
  &__notification {
    @include flex-center-center;
    flex-basis: 5%;
    border-left: $border;
    min-width: 70px;
    cursor: pointer;
  }
  &__notification-icon {
    position: relative;
    pointer-events: none;
  }
}

.user {
  &__photo {
    width: 42px;
    height: 41px;
    overflow: hidden;
    border-radius: $border-radius;
    .photo {
      width: 100%;
      height: 100%;
      background-size: contain;
    }
  }
  &__name {
    margin-left: 10px;
    @include xs {
      display: none;
    }
  }
}

.notification {
  &__bell {
    pointer-events: none;
    width: 28px;
    height: 26px;
  }
  &__indicator {
    position: absolute;
    top: -3px;
    right: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: $orange-red-color;
    pointer-events: none;
  }
  &__container {
    display: none;
    position: absolute;
    top: 80px;
    width: 400px;
    background-color: #ffffff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transform: translateX(-40%);
    &:after {
      content: "";
      position: absolute;
      right: 23px;
      top: -34px;
      border: 17px solid transparent;
      border-bottom: 17px solid #ffffff;
      @include sm {
        right: 19px;
      }
      @include xs {
        right: 82px;
      }
    }
    &_opened {
      display: block;
    }
    @include sm {
      width: 300px;
      transform: translateX(-38%);
    }
    @include xs {
      width: 250px;
      transform: translateX(-10%);
    }
  }
  &__caption {
    padding: 16px 30px;
    font-size: 1.29rem;
    @include sm {
      padding-bottom: 10px;
    }
    @include xs {
      font-size: 1.14rem;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__details {
    padding: 0 30px;
    height: 67px;
    @include flex-column-justify-center;
    cursor: pointer;
    &:hover {
      border: 1px solid #f7f7f7;
      border-left: none;
      border-right: none;
      background-color: #fbfcfc;
    }
    @include xs {
      padding: 0 20px;
    }
  }
  &__message {
    @include flex-align-center;
  }
  &__state {
    min-width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 15px;
    &_new-homework {
      background-color: #f0baa8;
    }
    &_no-homework {
      background-color: #8dcddd;
    }
  }
  &__subtitle {
    padding: 5px 0 0 24px;
    color: $subtitle-color-text;
    @include xs {
      font-size: 0.86rem;
    }
  }
}
