$subcategory-border-color: #ededed;

.main {
  display: flex;
  padding: 45px;
  &__container {
    flex-basis: 80%;
    @include lg {
      flex-basis: 100%;
    }
  }
  &__category-container {
    margin-top: 12px;
  }
  &__category-block {
    cursor: pointer;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    &:nth-child(n) {
      margin-bottom: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
