$subcategory-border-color: #ededed;
$transition-duration: 0.5s;

.main {
  padding: $main-block-padding;
  &__container {
    flex-basis: 80%;
    @include lg {
      flex-basis: 100%;
    }
  }
  &__category-container {
    margin-top: $block-margin;
  }
  &__category-block {
    cursor: pointer;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    &:nth-child(n) {
      margin-bottom: 5px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &_opened {
      .category {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $bg-light-green;
        &:before {
          border-bottom-left-radius: 0;
        }
        &:after {
          top: 40%;
          transform: rotate(-45deg) translateY(50%);
          border-color: $primary;
        }
      }
      .subcategory {
        transition: $transition-duration;
        opacity: 1;
        height: inherit;
        padding: 15px 0;
        &__item {
          @include flex-align-center;
        }
      }
    }
  }
}
