
$xs-spinener-indent: 20px;

//new structure and new variables
$main-block-padding: 45px;

$html-font-size: 14px;
$html-color-text: #454545;
$green-color: #469551; //$html-green-color:#459551;
$light-grey-color: #e8e8e8; //$border-grey-color: #e8e8e8;
$light-green-color: #66b074;
$bg-color-content: #ffffff; //$bg-color-white: #ffffff;
$light-green-bg-color: #edf8ef;
$orange-red-color: #ea8862; //$html-orange-color:#ea8862;
$sidebar-icon-color: #7f7f7f;
$subtitle-color-text: #999999;//??? change name
$box-shadow: 0 1px 4px #0000003a;
$border-radius: 5px;

$bg-html: #f8f8f8;
