.next-btn {
  margin-top: 120px;
  padding: 5px 35px 5px 20px;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 50px;
  position: relative;
  &:after {
    content: "";
    width: 12px;
    height: 12px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(45deg);
  }
}

.xs-screen.perfect-answer .next-btn,
.xs-screen.result .next-btn {
  border: 2px solid $main-green;
  background-color: $main-green;
  &:hover {
    color: $main-green;
    background-color: transparent;
    &:after {
      border-color: $main-green;
    }
  }
}

.xs-screen.bad-answer .next-btn {
  border: 2px solid $pink;
  background-color: $pink;
  &:hover {
    color: $pink;
    background-color: transparent;
    &:after {
      border-color: $pink;
    }
  }
}

.xs-screen.result .next-btn {
  padding: 5px 20px 5px 55px;
  margin-top: 100px;
  &:after {
    display: none;
  }
  &:before {
    content: '';
    position: absolute;
    background: url("../../assets/img/mobile/back-arrow-white.svg") center no-repeat;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    background-color: transparent;
    &:before {
      background: url("../../assets/img/mobile/back-arrow-hover.svg") center no-repeat;
    }
  }
}

.xs-screen.sentence .next-btn {
  opacity: 0;
  border: 2px solid $blue;
  background-color: $blue;
  &_show {
    opacity: 1;
  }
  &:hover{
    color: $blue;
    background-color: transparent;
    &:after {
      border-color: $blue;
    }
  }
}
