.xs-screen {
  display: none;
  @include xs {
    display: block;
    height: 100vh;
    padding: 15px;
  }
}

.xs-screen.perfect-answer {
  background-color: $bg-light-green;
}

.xs-screen.bad-answer {
  background-color: $light-pink; 
}

.xs-screen.result{
  background-color: $bg-light-green;
}

.more-than-xs-screen-title {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #0000ff;
  @include xs {
    display: none;
  }
}
