@font-face {
  font-family: 'icon';
  src: url('fonts/icon.eot?c6excl');
  src: url('fonts/icon.eot?c6excl#iefix') format('embedded-opentype'), url('fonts/icon.ttf?c6excl') format('truetype'), url('fonts/icon.woff?c6excl') format('woff'), url('fonts/icon.svg?c6excl#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Exercises:before {
  content: "\65";
  color: #7f7f7f;
}

.icon-Home:before {
  content: "\62";
  color: #7f7f7f;
}

.icon-Homework:before {
  content: "\77";
  color: #7f7f7f;
}

.icon-Media:before {
  content: "\6d";
  color: #7f7f7f;
}

.icon-Options:before {
  content: "\6f";
  color: #7f7f7f;
}

.icon-Payments:before {
  content: "\70";
  color: #7f7f7f;
}

.icon-state__arrow:before {
  content: "\73";
  color: #b6e3a6;
}